{% load static %}
{{block.super}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<header id="header">
    <div class="header-main">
        <div class="box-left">
            <div class="item bt-menu">
                <div class="ico-menu">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <a href="{%url ''%">
                    <span class="has-tablet"></span>
                </a>
            </div>
        </div>
        <form class="form-inline ml-2" action="{% url 'search' %}">
            <input class="form-control mr-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-info" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="box-right">
            <div class="item bt-search " id="js-search-container">
                <svg class="ico-svg" viewbox="0 0 14 14">
                    <use xlink:href="https://www.awwwards.com/assets/images/sprite-icons.svg#search"></use>
                </svg>
            </div>

            <div class="mr-4">
            {% if user.is_authenticated %}
                <i class="far fa-user"></i>
                <a style="color:black;padding:10px" href="{% url 'profile' %}">
                    {{ user }}
                </a>
            {% else %}
                <strong>
                <a href="/accounts/login/">Register/Login</a>
                </strong>
            {% endif %}
            </div>

            <div class="item has-tablet" id="bt-submit">
                <a href="{% url 'post' %}" class="button button-large">
                    <span>Post your Podcast!</span>
                </a>

            </div>
        </div>
        <div class="logo-header">
            <a href="/" aria-label="2 CENTS">
                <span class="form-title">
                    <i class="now-ui-icons design_app"></i>
                    <h1>2 CENTS</h1>
                </span>
            </a>
        </div>
    </div>
</header>